.Botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Paginas html Desktop*/
/* General */
body {
  background-image: url("/img/css-background-effects-thumb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.footer {
  padding-top: 50px; }

footer {
  background-image: url("/img/grunge-paint-background_1409-1337.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

header {
  background-image: linear-gradient(#fde400, #c9f0b7);
  font-family: cursive; }

h2 {
  text-align: center;
  margin-bottom: 15px; }

.social {
  text-align: center;
  padding: 10px; }

.seguinos {
  text-align: center; }

/*                              Ofertas                               */
.aprovecha {
  text-align: center;
  color: #d30101; }

.Ofertass {
  text-align: center;
  color: #ffffff; }

.Ofertas {
  background-color: grey;
  width: 1500px;
  height: 445px;
  padding-right: 130px; }

.pOfertas {
  border: 1px solid black;
  background-color: #ffffff;
  margin: 30px; }
  .pOfertas .pofertas {
    padding: 8px; }

.h3promociones {
  color: skyblue;
  margin-bottom: 22px;
  text-align: center; }

/*                                        +++Soporte+++                                     */
.contacto1 {
  text-align: center; }
  .contacto1 .enviar {
    transform: translateY(5px);
    background-image: linear-gradient(yellow, red);
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    width: 80px;
    height: 30px;
    border: 3px solid black; }
    .contacto1 .enviar:hover {
      cursor: pointer;
      transform: translateY(1px); }
    .contacto1 .enviar:active {
      transform: translateY(2px); }

.Contactenos {
  color: skyblue; }

/*                                       Tienda                                           */
.h3lonuevo {
  text-align: center;
  color: yellowgreen; }

.h3valorado {
  text-align: center;
  color: yellowgreen; }

.Categoriass {
  text-align: center;
  color: yellowgreen; }

.flex-container {
  border: 2px solid black;
  padding: 20px;
  margin: 11px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto; }
  .flex-container .Caja {
    background-color: #a59494;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    line-height: 100px;
    text-align: center;
    margin: 5px; }
    .flex-container .Caja a:link {
      text-decoration: none; }

/*                                          +++Inicio+++                                            */
/* Boton tienda */
.tienda {
  background-image: linear-gradient(red, yellow);
  border: 3px solid black;
  width: 200px;
  height: 50px;
  text-align: center;
  outline: 0;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .tienda:hover {
    cursor: pointer;
    transform: translateY(-5px); }
  .tienda:active {
    transform: translateY(3px); }

/* Boton Ofertas */
.ofertas {
  background-image: linear-gradient(to top right, #B066FE, #63E2FE);
  border: 3px solid black;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  outline: 0; }
  .ofertas:hover {
    cursor: pointer;
    transform: translateY(-5px); }
  .ofertas:active {
    transform: translateY(3px); }

/* Boton sobre nosotros */
.Sobrenosotros {
  background-image: linear-gradient(green, yellow);
  border: 4px solid black;
  width: 200px;
  height: 50px;
  text-align: center;
  outline: 0;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .Sobrenosotros:hover {
    cursor: pointer;
    transform: translateY(-5px); }
  .Sobrenosotros:active {
    transform: translateY(3px); }

/* Boton Soporte */
.Soporte {
  background-image: linear-gradient(skyblue, green);
  border: 4px solid black;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .Soporte:hover {
    cursor: pointer;
    transform: translateY(-5px); }
  .Soporte:active {
    transform: translateY(3px); }

/* Parrafos inicio */
.h2inicio {
  color: aqua;
  font-family: 'Courier New', Courier, monospace; }

.parrafoinicio1 {
  display: flex;
  align-items: center;
  padding: 5px; }
  .parrafoinicio1 .PI1 {
    font-size: 20pt;
    border: 2px solid black;
    background-color: #ffffff; }

.parrafoinicio2 {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  background-color: #ffffff; }
  .parrafoinicio2 .pinicio2 {
    padding: 10px; }

/* Imagenes */
.imgprincipal {
  padding: 2px; }

.tiendaofertas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px; }

.tienda1 {
  padding: 5px;
  width: auto;
  max-width: 20%;
  height: auto;
  max-width: 26%; }

.tienda2 {
  padding: 5px;
  width: auto;
  max-width: 24%;
  height: auto;
  max-height: 30%; }

.oferta1 {
  padding: 5px;
  width: auto;
  max-width: 20%;
  height: auto;
  max-height: 30%; }

.oferta2 {
  padding: 5px;
  width: auto;
  max-width: 20%;
  height: auto;
  max-height: 30%; }

/* Sobre nosotros */
.PSN {
  padding: 3px;
  margin: 8px;
  border: 1px solid black;
  background-color: #ffffff;
  font-size: 15pt; }
  .PSN .PS1 {
    padding: 5px; }
  .PSN .PS2 {
    padding: 5px; }
  .PSN .h2quienes {
    color: #e75959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline black; }

#cajasobre {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400px;
  text-align: center;
  background: #2e60df;
  margin: 0px auto;
  overflow: hidden;
  padding: 1px;
  border: 2px solid #ffffff;
  width: 370px; }

.formularionosotros {
  text-align: center; }

.flex-iframe {
  text-align: center; }

.formulario {
  max-width: 600px;
  max-height: 650px;
  padding: 25px;
  border: 4px solid black;
  background-color: #ffffff;
  display: block;
  margin: auto; }

/* Paginas html @media */
@media (max-width: 480px) {
  /* General */
  header {
    width: 480px; }
  footer {
    width: 480px; }
  /* Index */
  .parrafoinicio1 {
    display: flex;
    flex-direction: column;
    padding: 3px; }
  .imgprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 250px;
    height: 170px; }
  .parrafoinicio2 {
    padding: 3px; }
  .social {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; }
  /* Tienda */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1000px;
    width: 90%; }
  .h3lonuevo {
    font-size: 50px; }
  .h3valorado {
    font-size: 45px; }
  .social {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; }
  /* Sobre nosotros */
  .PS1 {
    padding: 5px; }
  .h2quienes {
    padding: 10px; }
  .iframe {
    padding: 5px;
    width: 470px; }
  .flex-iframe {
    display: flex;
    flex-direction: column; }
  .container-sobre {
    padding: 10px; }
    .container-sobre #cajasobre {
      width: 290px; }
  /* Soporte */
  .formulario {
    width: 450px; } }
