@import 'colores';
@import 'tipografias';
@import 'mixins';
@import 'variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Paginas html Desktop*/
    /* General */
    body {
    background-image: url("/img/backgroundss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    .footer {
        padding-top: 50px;
    }
    footer {
        background-image: url("/img/grunge-paint-background_1409-1337.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    header {
        background-image: linear-gradient(rgb(253, 228, 0), rgb(201, 240, 183));
        font-family: $tipografia3;
    }

    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
    .social {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .seguinos {
     justify-content: center;
    }

                 /*                              Ofertas                               */
    .aprovecha {
     text-align: center;
     color: #d30101;
    }

    .Ofertass {
        text-align: center;
        color: $colorprincipal;
    }
    .pOfertas {
        border: 1px solid black;
        background-color: $colorprincipal;
        margin: 30px;
        .pofertas {
            padding: 8px;
        }
    }
    .h3promociones {
        color: skyblue ;
        margin-bottom: 22px;
        text-align: center;
    }
    /*                                        +++Soporte+++                                     */
    .contacto1 {
        text-align: center;
        .enviar {
            transform: translateY(5px);
            background-image: linear-gradient(rgb(255, 255, 0),red);
            cursor: pointer;
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
            width: 80px;
            height: 30px;
            border: 3px solid black;
            &:hover {
                cursor: pointer;
                transform: translateY(1px);
            }
            &:active {
                transform: translateY(2px);
            }    
            }
            }   

            .Contactenos {
                color: skyblue;
            }
        
    /*                                       Tienda                                           */
.h3lonuevo {
    text-align: center;
    color: $colorh3;
    text-transform: capitalize;
}
.h3valorado {
    text-align: center;
    color: $colorh3;
    text-transform: capitalize;
}
.Categoriass {
    text-align: center;
    color: $colorh3;
}
.flex-container {
    padding: 20px;
    padding-bottom: 300px;
    margin: 10px;
    background-color: $colorprincipal;
    display: flex;
    flex-flow: row wrap;


    .Caja {
        @include caja_personalizada($colorcategorias);
       a:link {
            text-decoration: none;
            
       }
    }
}

/*                                          +++Inicio+++                                            */

.Botones {
    @extend %Botones;
}

  /* Boton tienda */
.tienda {
    background-image: linear-gradient(red, yellow);
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    outline: 0;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
    &:active {
        transform: translateY(3px);
    }
}
 /* Boton Ofertas */
.ofertas {
    background-image: linear-gradient(to top right, #B066FE, #63E2FE);
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    outline: 0;

    &:hover {
        cursor: pointer;
    transform: translateY(-5px);
    }
    &:active {
        transform: translateY(3px);
    }
}

 /* Boton sobre nosotros */
.Sobrenosotros {
    background-image: linear-gradient(green,yellow);
        border: 4px solid black;
        width: 200px;
        height: 50px;
        text-align: center;
        outline: 0;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
        &:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }
        &:active {
            transform: translateY(3px);
        }
}
 /* Boton Soporte */
.Soporte {
    background-image: linear-gradient(skyblue,green);
    border: 4px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
    &:active {
        transform: translateY(3px);
    }
}

  /* Parrafos inicio */
    .parah2inicio {
        border: 1px solid white;
        background-color: #ffffff;
    
    }

  .h2inicio {
      color: rgb(255, 24, 24);
      font-family: 'Courier New', Courier, monospace;
      margin-top: 10px;
      text-transform: uppercase;
      text-decoration: dotted;
      
  }

.parrafoinicio1 {
    display: flex;
    align-items: center;
    padding: 5px;

    .PI1 {
        padding: 10px;
        font-size: 20pt;
       border: map-get($estilos,border);
       background-color: $colorprincipal;
    }
}
.parrafoinicio2 {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    background-color: $colorprincipal;

    .pinicio2 {
        padding: 10px;
    }
}

   /* Imagenes */

.imgprincipal {
    width: 350px;
    height: 300px;
}
.tiendaofertas 
     {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 10px;  }

    .tienda1 {
        padding: 5px;
        width: auto;
        max-width: 20%;
        height: auto;
        max-width: 26%;
        
    }
    .tienda2 {
        padding: 5px;
        width: auto;
        max-width: 24%;
        height: auto;
        max-height: 30%;
    }
    .oferta1 {
        padding: 5px;
        width: auto;
        max-width: 20%;
        height: auto;
        max-height: 30%;
    }
    .oferta2 {
        padding: 5px;
        width: auto;
        max-width: 20%;
        height: auto;
        max-height: 30%;
    }
    

     /* Sobre nosotros */


     .PSN {
         padding: 3px;
         margin: 8px;
         border: 1px solid black;
         background-color: $colorprincipal;
         font-size: 15pt;

         .PS1 {
            padding: 5px;
        }
         .PS2 {
             padding: 5px;
         }

        .h2quienes {
            color: rgb(231, 89, 89);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-decoration: underline black;
        }
     }
     
     #cajasobre { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: $colorprincipal; 
    font-size: 18px; 
    font-weight: 400px; 
    text-align: center;
    background: #2e60df; 
    margin: 0px auto;
    overflow: hidden; 
    padding: 1px; 
    border: 2px solid $colorprincipal;
    width: 370px;
}

.formularionosotros {
    text-align: center;
   
}
.flex-iframe {
    text-align: center;
}

.formulario {
        max-width: 600px;
        max-height: 650px;
        padding: 25px;
        border: 4px solid black;
        background-color: $colorprincipal;
        display: block;
        margin: auto;
    }


   /* Paginas html @media */

   @media (max-width: 480px) {
    /* General */

    header {
        width: 480px;
    }
    footer {
        width: 480px;
       
    }
 
    /* Index */
    .parrafoinicio1 {
        display: flex;
        flex-direction: column;
        padding: 3px;
    }
    
    .imgprincipal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 250px;
        height: 170px;
    }
    .parrafoinicio2 {
        padding: 3px;
    }
    .social {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

   /* Tienda */

   
   .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 930px;
    width: 90%;
   }


.h3lonuevo {
font-size: 50px;
}

.h3valorado {
 font-size: 45px;
}

.social {
display: grid;
grid-template-columns: auto auto;
justify-content: center;

}

  /* Sobre nosotros */
  
   .PS1 {
       padding: 5px;
   }

   .h2quienes {
       padding: 10px;
   }

  .iframe {
      padding: 5px;
       width: 470px;
   }

  .flex-iframe {
      display: flex;
      flex-direction: column;
  }

  .container-sobre {
         padding: 10px;
       
      #cajasobre {
          width: 290px;
      }
 }
  /* Soporte */
  .formulario  {
    width: 450px;
}
}


@media (min-width:768px) {
    
    /* General */

    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
    
    .social {
        display: flex;
        flex-direction: row;
        
    }
    
    /* Tienda */

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 500px;
        width: 95%;
    }

}


@media (min-width:1200px) {
     
    /* General */
    
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
    
    .social {
        display: flex;
        flex-flow: row wrap;
        
    }
    
    /*Tienda*/

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 370px;
        width: 99%;
    }
}   